.shop{
    position: relative;
    color: #14213D;
    
}
.shop::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FCA311;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.shop:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}