.decore{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 0;
}
.decore1,
.decore2{
    position: relative;
}
.decore-text{
    position: absolute;
    top: 30%;
    left: 5%;
}
.button-decore{
    position: absolute;
    top: 45%;
    left: 5%;
}
